<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Register</h1>
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter your first name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter your last name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" required>
                            </div>
                            <div class="form-group">
                                <label for="jobtitle">Job Title</label>
                                <input type="text" name="jobtitle" id="jobtitle" class="form-control" placeholder="Enter your job title">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      

    <!-- script -->
    <%- include('./partials/script.ejs')%>
</body>
</html>